
_opam
_build
/_boot
_perf
*.install
.merlin
*.corrected

# vim swap files
*.swp
*.swo

# emacs lock files
.#*

# vscode settings
.vscode

# git-ps hooks
.git-ps

.duneboot.*
/boot/*.cm*
dune.exe
src/dune_rules/setup.ml
result

.DS_Store

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# ocamlbuild working directory
_build/

# ocamlbuild targets
*.byte
*.native

# bisect_ppx output
*.out
